*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 59.375%; } }
  @media only screen and (max-width: 62em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 49em) {
    html {
      font-size: 53.125%; } }
  @media only screen and (max-width: 36em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 28em) {
    html {
      font-size: 46.875%; } }
  @media only screen and (max-width: 20em) {
    html {
      font-size: 43.75%; } }

body {
  font-family: "Montserrat", sans-serif; }

section {
  position: relative;
  z-index: 1; }

a, a:hover, a:focus {
  text-decoration: none;
  transition: .3s;
  perspective: 10000px; }

a:hover {
  opacity: .8; }

img {
  width: 100%;
  object-fit: cover; }

.container-lg {
  max-width: 150rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px; }

.container-fluid {
  max-width: 192rem; }

.h2 {
  font-size: 5.6rem;
  font-family: "Playfair Display", serif;
  letter-spacing: .2rem; }
  @media only screen and (max-width: 62em) {
    .h2 {
      font-size: 4.6rem; } }
  @media only screen and (max-width: 36em) {
    .h2 {
      font-size: 3.8rem; } }

.h3 {
  font-size: 4rem;
  font-family: "Playfair Display", serif;
  letter-spacing: .15rem; }
  @media only screen and (max-width: 36em) {
    .h3 {
      font-size: 2.8rem; } }

.p2 {
  font-size: 1.8rem; }

.p3 {
  font-size: 1.4rem !important;
  margin-bottom: .5rem; }

.-u-color-brown {
  color: #A88A5F !important; }

.-u-bg-light-brown {
  background-color: #EBE7E6 !important; }

.-u-bg-brown {
  background-color: #A88A5F !important; }

.text-normal {
  font-weight: 400; }

.home-navbar.navbar.navbar-expand-lg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding-top: 2rem; }
  @media only screen and (max-width: 62em) {
    .home-navbar.navbar.navbar-expand-lg {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem; } }
  .home-navbar.navbar.navbar-expand-lg .container-lg {
    position: relative; }
    @media only screen and (max-width: 62em) {
      .home-navbar.navbar.navbar-expand-lg .container-lg .navbar-brand {
        position: relative;
        top: 0;
        transform: translateX(-50%);
        left: 50%; } }
    .home-navbar.navbar.navbar-expand-lg .container-lg .navbar-brand img {
      width: 15rem;
      object-fit: cover;
      height: auto; }
    .home-navbar.navbar.navbar-expand-lg .container-lg .navbar-toggler {
      border: 0;
      display: flex;
      align-items: center; }
      @media only screen and (max-width: 62em) {
        .home-navbar.navbar.navbar-expand-lg .container-lg .navbar-toggler {
          position: absolute;
          top: 50%;
          right: 2rem;
          transform: translateY(-50%); } }
      @media only screen and (max-width: 62em) {
        .home-navbar.navbar.navbar-expand-lg .container-lg .navbar-toggler:focus {
          outline: none; } }

@media only screen and (max-width: 62em) and (max-width: 62em) {
  .home-navbar.navbar.navbar-expand-lg .container-lg .navbar-toggler span {
    margin-left: 0;
    position: relative;
    font-size: 0px;
    width: 3rem;
    height: 1.5px;
    background-color: #A88A5F;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .home-navbar.navbar.navbar-expand-lg .container-lg .navbar-toggler span::before, .home-navbar.navbar.navbar-expand-lg .container-lg .navbar-toggler span::after {
      content: '';
      width: 3rem;
      height: 1.5px;
      background-color: #A88A5F;
      position: absolute;
      margin: 0; }
    .home-navbar.navbar.navbar-expand-lg .container-lg .navbar-toggler span::before {
      top: -.8rem; }
    .home-navbar.navbar.navbar-expand-lg .container-lg .navbar-toggler span::after {
      top: .8rem; } }
    .home-navbar.navbar.navbar-expand-lg .container-lg .navbar-toggler:not(.collapsed) ~ .navbar-collapse.collapsing {
      right: 0;
      height: 100vh; }
    .home-navbar.navbar.navbar-expand-lg .container-lg .navbar-collapse {
      flex-grow: 1;
      padding-top: 2rem;
      max-width: 80rem;
      transition: .6s; }
      @media only screen and (max-width: 62em) {
        .home-navbar.navbar.navbar-expand-lg .container-lg .navbar-collapse {
          position: fixed;
          top: 0;
          right: -36rem;
          left: unset;
          width: 36rem;
          height: 100vh !important;
          background-color: #fff; } }
      @media only screen and (max-width: 62em) {
        .home-navbar.navbar.navbar-expand-lg .container-lg .navbar-collapse.collapse {
          height: 100vh; } }
      @media only screen and (max-width: 62em) {
        .home-navbar.navbar.navbar-expand-lg .container-lg .navbar-collapse.collapse.show {
          height: 100vh;
          right: 0rem; } }
      .home-navbar.navbar.navbar-expand-lg .container-lg .navbar-collapse ul.navbar-nav {
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem 1rem;
        border-bottom: 1px solid #ffffff;
        width: 100%; }
        @media only screen and (max-width: 62em) {
          .home-navbar.navbar.navbar-expand-lg .container-lg .navbar-collapse ul.navbar-nav {
            flex-direction: column;
            justify-content: flex-start;
            padding: 1rem 15px;
            border-bottom: 0; } }
        @media only screen and (max-width: 62em) {
          .home-navbar.navbar.navbar-expand-lg .container-lg .navbar-collapse ul.navbar-nav li.nav-item {
            border-bottom: 1px solid #A88A5F;
            padding: .8rem 0;
            margin-right: -15px; } }
        .home-navbar.navbar.navbar-expand-lg .container-lg .navbar-collapse ul.navbar-nav li.nav-item[data-toggle="collapse"] {
          padding: 1rem 0;
          margin-right: -15px;
          margin-left: -15px; }
          .home-navbar.navbar.navbar-expand-lg .container-lg .navbar-collapse ul.navbar-nav li.nav-item[data-toggle="collapse"] img {
            width: 3rem;
            height: 3rem; }
          .home-navbar.navbar.navbar-expand-lg .container-lg .navbar-collapse ul.navbar-nav li.nav-item[data-toggle="collapse"] span {
            margin-left: 1rem;
            color: #A88A5F;
            font-weight: 500; }
        .home-navbar.navbar.navbar-expand-lg .container-lg .navbar-collapse ul.navbar-nav li.nav-item a.nav-link {
          font-size: 1.6rem;
          text-transform: uppercase;
          color: #fff;
          padding: 0; }
          @media only screen and (max-width: 62em) {
            .home-navbar.navbar.navbar-expand-lg .container-lg .navbar-collapse ul.navbar-nav li.nav-item a.nav-link {
              color: #A88A5F; } }
        .home-navbar.navbar.navbar-expand-lg .container-lg .navbar-collapse ul.navbar-nav a.btn {
          font-size: 1.4rem;
          color: #fff; }
          .home-navbar.navbar.navbar-expand-lg .container-lg .navbar-collapse ul.navbar-nav a.btn svg {
            fill: #fff;
            margin-left: .8rem; }
        .home-navbar.navbar.navbar-expand-lg .container-lg .navbar-collapse ul.navbar-nav a.dropdown-toggle img {
          transform: scale(1);
          background-color: rgba(255, 255, 255, 0.8);
          border-radius: 10rem; }

.navbar:not(.navbar-expand-lg) {
  position: relative;
  z-index: 100;
  padding-top: 2rem;
  background-color: #EBE7E6;
  padding-top: 2.25rem;
  padding-bottom: 2.25rem; }
  @media only screen and (max-width: 62em) {
    .navbar:not(.navbar-expand-lg) {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem; } }
  .navbar:not(.navbar-expand-lg) .container-lg .navbar-brand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 62em) {
      .navbar:not(.navbar-expand-lg) .container-lg .navbar-brand {
        position: relative;
        top: 0;
        transform: translateX(-50%); } }
    .navbar:not(.navbar-expand-lg) .container-lg .navbar-brand img {
      width: 15rem;
      object-fit: cover;
      height: auto; }
  .navbar:not(.navbar-expand-lg) .container-lg .navbar-toggler {
    border: 0;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 62em) {
      .navbar:not(.navbar-expand-lg) .container-lg .navbar-toggler:focus {
        outline: none; } }
    @media only screen and (max-width: 62em) {
      .navbar:not(.navbar-expand-lg) .container-lg .navbar-toggler {
        position: absolute;
        top: 50%;
        right: 2rem;
        transform: translateY(-50%); } }
    .navbar:not(.navbar-expand-lg) .container-lg .navbar-toggler img {
      width: 3.5rem;
      height: 3.5rem;
      object-fit: contain;
      object-position: center center; }
      @media only screen and (max-width: 62em) {
        .navbar:not(.navbar-expand-lg) .container-lg .navbar-toggler img {
          display: none; } }
    .navbar:not(.navbar-expand-lg) .container-lg .navbar-toggler span {
      font-weight: 500;
      margin-left: .8rem;
      color: #A88A5F; }
      @media only screen and (max-width: 62em) {
        .navbar:not(.navbar-expand-lg) .container-lg .navbar-toggler span {
          margin-left: 0;
          position: relative;
          font-size: 0px;
          width: 3rem;
          height: 1.5px;
          background-color: #A88A5F;
          border-radius: 1rem;
          display: flex;
          flex-direction: column;
          align-items: center; }
          .navbar:not(.navbar-expand-lg) .container-lg .navbar-toggler span::before, .navbar:not(.navbar-expand-lg) .container-lg .navbar-toggler span::after {
            content: '';
            width: 3rem;
            height: 1.5px;
            background-color: #A88A5F;
            position: absolute;
            margin: 0; }
          .navbar:not(.navbar-expand-lg) .container-lg .navbar-toggler span::before {
            top: -.8rem; }
          .navbar:not(.navbar-expand-lg) .container-lg .navbar-toggler span::after {
            top: .8rem; } }
  .navbar:not(.navbar-expand-lg) .container-lg .btn.login-button {
    color: #ffffff;
    font-size: 1.6rem; }
    @media only screen and (max-width: 48em) {
      .navbar:not(.navbar-expand-lg) .container-lg .btn.login-button {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        padding: 1.2rem; } }
    .navbar:not(.navbar-expand-lg) .container-lg .btn.login-button svg {
      fill: #ffffff;
      width: 2.2rem;
      height: 2.2rem;
      margin-left: .5rem; }
  .navbar:not(.navbar-expand-lg) .container-lg .navbar-toggler:not(.collapsed) ~ .navbar-collapse.collapsing {
    right: 0; }
  .navbar:not(.navbar-expand-lg) .container-lg .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #F5F3F3;
    display: block;
    width: 100%;
    overflow: hidden;
    transition: .6s !important; }
    @media only screen and (max-width: 62em) {
      .navbar:not(.navbar-expand-lg) .container-lg .navbar-collapse {
        position: fixed;
        top: 0;
        right: -36rem;
        left: unset;
        width: 36rem;
        height: 100vh; } }
    .navbar:not(.navbar-expand-lg) .container-lg .navbar-collapse.collapse {
      height: 0; }
      @media only screen and (max-width: 62em) {
        .navbar:not(.navbar-expand-lg) .container-lg .navbar-collapse.collapse {
          height: 100vh; } }
      .navbar:not(.navbar-expand-lg) .container-lg .navbar-collapse.collapse.show {
        height: auto;
        right: 0rem; }
        @media only screen and (max-width: 62em) {
          .navbar:not(.navbar-expand-lg) .container-lg .navbar-collapse.collapse.show {
            height: 100vh; } }
    .navbar:not(.navbar-expand-lg) .container-lg .navbar-collapse ul.navbar-nav {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      padding-top: 1rem;
      padding-bottom: 1rem; }
      @media only screen and (max-width: 62em) {
        .navbar:not(.navbar-expand-lg) .container-lg .navbar-collapse ul.navbar-nav {
          flex-direction: column;
          justify-content: flex-start; } }
      @media only screen and (max-width: 62em) {
        .navbar:not(.navbar-expand-lg) .container-lg .navbar-collapse ul.navbar-nav li.nav-item {
          border-bottom: 1px solid #A88A5F;
          padding: .8rem 0;
          margin-right: -15px; } }
      .navbar:not(.navbar-expand-lg) .container-lg .navbar-collapse ul.navbar-nav li.nav-item[data-toggle="collapse"] {
        padding: 1rem 0;
        margin-right: -15px;
        margin-left: -15px; }
        .navbar:not(.navbar-expand-lg) .container-lg .navbar-collapse ul.navbar-nav li.nav-item[data-toggle="collapse"] img {
          width: 3rem;
          height: 3rem; }
        .navbar:not(.navbar-expand-lg) .container-lg .navbar-collapse ul.navbar-nav li.nav-item[data-toggle="collapse"] span {
          margin-left: 1rem;
          color: #A88A5F;
          font-weight: 500; }
      .navbar:not(.navbar-expand-lg) .container-lg .navbar-collapse ul.navbar-nav li.nav-item a.nav-link {
        color: #A88A5F;
        text-transform: uppercase;
        font-size: 1.6rem; }

.nav-item.dropdown {
  font-size: 1.6rem; }
  @media only screen and (max-width: 64em) {
    .nav-item.dropdown {
      position: absolute !important;
      top: 50%;
      left: 1rem;
      transform: translateY(-50%); } }
  .nav-item.dropdown a {
    color: #A88A5F; }
    .nav-item.dropdown a:hover {
      box-shadow: unset; }
  .nav-item.dropdown a.dropdown-item:first-child {
    display: none; }
  .nav-item.dropdown .dropdown-toggle::after {
    z-index: 3;
    position: relative;
    display: none; }
  .nav-item.dropdown .dropdown-toggle img {
    width: 3rem;
    height: 3rem;
    transform: scale(2);
    position: relative;
    z-index: 2; }
  .nav-item.dropdown .dropdown-menu {
    left: unset;
    right: 1rem; }
    @media only screen and (max-width: 64em) {
      .nav-item.dropdown .dropdown-menu {
        left: 1rem;
        right: unset; } }
    .nav-item.dropdown .dropdown-menu a {
      color: #545454;
      font-size: 1.4rem; }

body.page.home .home-video_section {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1; }
  body.page.home .home-video_section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent);
    z-index: 3; }
  body.page.home .home-video_section video {
    position: relative;
    z-index: 2; }

section.banner {
  min-height: 50rem;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; }
  @media only screen and (max-width: 62em) {
    section.banner {
      min-height: auto; } }
  @media only screen and (max-width: 36em) {
    section.banner {
      min-height: 40rem; } }
  section.banner img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 2; }
    @media only screen and (max-width: 62em) {
      section.banner img {
        position: relative;
        height: 100%;
        min-height: 40rem; } }
  section.banner h1, section.banner h2 {
    color: #ffffff;
    z-index: 3;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; }
    @media only screen and (max-width: 62em) {
      section.banner h1, section.banner h2 {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover; } }
    section.banner h1::before, section.banner h1::after, section.banner h2::before, section.banner h2::after {
      content: '';
      height: .25rem;
      width: 8rem;
      background-color: #fff;
      margin: 0 1.5rem; }
      @media only screen and (max-width: 62em) {
        section.banner h1::before, section.banner h1::after, section.banner h2::before, section.banner h2::after {
          width: 4rem; } }

section.heading-box {
  padding: 3rem 0; }
  section.heading-box h2 {
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: #A88A5F;
    font-weight: 400; }
  section.heading-box h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 1rem;
    color: #A88A5F;
    letter-spacing: .15rem;
    margin-top: 1rem;
    margin-bottom: 1rem; }
    section.heading-box h3::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      height: 2px;
      width: 10rem;
      transform: translateX(-50%);
      background-color: #A88A5F; }

section.two-column_image-overflow {
  padding-top: 2rem;
  padding-bottom: 2rem; }
  @media only screen and (max-width: 36em) {
    section.two-column_image-overflow {
      padding-top: 0; } }
  @media only screen and (max-width: 62em) {
    section.two-column_image-overflow {
      background-color: #fff; } }
  section.two-column_image-overflow .overflow-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: translateX(12rem);
    margin-top: 1.4rem;
    margin-top: auto; }
    @media only screen and (max-width: 75em) {
      section.two-column_image-overflow .overflow-image {
        transform: translateX(0); } }
  @media only screen and (max-width: 62em) {
    section.two-column_image-overflow h2 {
      margin-top: 2rem; } }
  section.two-column_image-overflow h4 {
    font-size: 1.8rem; }
  section.two-column_image-overflow .card {
    padding: 4rem;
    border-radius: 0;
    border: 0; }
    @media only screen and (max-width: 62em) {
      section.two-column_image-overflow .card {
        padding-top: 0;
        padding-bottom: 0; } }
    @media only screen and (max-width: 36em) {
      section.two-column_image-overflow .card {
        padding: 0; } }
    section.two-column_image-overflow .card p {
      font-size: 1.8rem;
      color: #545454;
      margin-bottom: 2.4rem;
      line-height: 1.7; }
      section.two-column_image-overflow .card p:last-child {
        margin-bottom: 0; }

section.card-text-box {
  background-color: #EBE7E6;
  padding-bottom: 5rem; }
  section.card-text-box .card.card-text {
    padding: 3rem 5rem 4rem;
    margin-top: -5rem;
    border: 0;
    border-radius: 0;
    position: relative;
    min-height: 100%; }
    section.card-text-box .card.card-text.card-text-lg::after {
      display: none; }
    section.card-text-box .card.card-text.card-text-lg img {
      width: 5rem;
      height: 5rem; }
    section.card-text-box .card.card-text.card-text-lg .btn {
      border: 0;
      background-color: #A88A5F;
      font-size: 1.4rem;
      padding: 0.6rem 1rem;
      display: flex;
      align-items: center;
      color: #FFF;
      cursor: pointer; }
      section.card-text-box .card.card-text.card-text-lg .btn::before {
        content: '';
        height: 1.3px;
        width: 2rem;
        background-color: #FFF;
        margin-right: 1rem; }
    @media only screen and (min-width: 87.5em) {
      section.card-text-box .card.card-text {
        padding: 7rem 10rem 5rem; } }
    @media only screen and (max-width: 62em) {
      section.card-text-box .card.card-text {
        margin-top: 0; } }
    section.card-text-box .card.card-text::after {
      content: '';
      position: absolute;
      bottom: 3rem;
      left: 50%;
      transform: translateX(-50%);
      width: 15rem;
      height: .25rem;
      background-color: #A88A5F; }
    section.card-text-box .card.card-text img {
      height: 3rem;
      width: 3rem;
      object-fit: contain;
      object-position: center center; }
    section.card-text-box .card.card-text h2 {
      font-size: 2.2rem;
      color: #A88A5F; }
    section.card-text-box .card.card-text p {
      font-size: 1.8rem;
      color: #545454;
      line-height: 1.7;
      margin-bottom: 2.4rem; }
  section.card-text-box .card-image-row {
    height: 100%; }

@media only screen and (max-width: 49em) {
  section.two-column div:not(.position-relative) {
    order: -1; } }

@media only screen and (max-width: 36em) {
  section.two-column .mx {
    margin-left: 15px;
    margin-right: 15px; } }

section.two-column p {
  padding: 3rem 5rem;
  margin-top: 8rem;
  position: relative;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #545454;
  margin-bottom: 0; }
  @media only screen and (max-width: 62em) {
    section.two-column p {
      margin-top: 4rem;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      padding: 3rem 0; } }
  @media only screen and (max-width: 36em) {
    section.two-column p {
      width: 100%; } }
  section.two-column p::before {
    content: '';
    position: absolute;
    top: 0;
    left: 5rem;
    height: 2px;
    width: 5rem;
    background-color: #A88A5F; }
    @media only screen and (max-width: 62em) {
      section.two-column p::before {
        left: 50%;
        transform: translateX(-50%); } }

section.two-column img {
  margin-left: -15px;
  margin-right: -15px;
  min-height: 40rem;
  width: calc(100% + 30px);
  object-fit: cover;
  height: auto; }
  @media only screen and (max-width: 62em) {
    section.two-column img {
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      min-height: auto;
      display: block; } }
  @media only screen and (max-width: 36em) {
    section.two-column img {
      width: calc(100% + 30px);
      margin-left: -15px;
      margin-right: -15px; } }

section.two-column a {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%; }
  @media only screen and (max-width: 62em) {
    section.two-column a {
      padding-top: 1.6rem;
      padding-bottom: 1.6rem;
      width: 80%;
      margin-left: auto;
      margin-right: auto; } }
  @media only screen and (max-width: 36em) {
    section.two-column a {
      width: calc(100% + 30px);
      margin-left: -15px;
      margin-right: -15px; } }
  section.two-column a span {
    font-size: 1.8rem;
    color: #A88A5F;
    letter-spacing: .15rem; }
  section.two-column a:hover {
    text-decoration: none; }
    section.two-column a:hover span {
      text-decoration: none; }

section.video-section {
  padding: 5rem 0; }
  section.video-section h1, section.video-section h2, section.video-section .h2 {
    font-weight: 400; }
  section.video-section p {
    font-size: 1.8rem;
    color: #545454;
    line-height: 1.6;
    text-align: center; }
  section.video-section .video-box {
    position: relative; }
    section.video-section .video-box button.play,
    section.video-section .video-box button.pause {
      position: absolute;
      top: 0%;
      left: 0%;
      height: 100%;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      border: 0;
      display: none;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      z-index: 2; }
      section.video-section .video-box button.play img,
      section.video-section .video-box button.pause img {
        height: 5rem;
        width: 5rem;
        object-fit: contain;
        object-position: center; }
    section.video-section .video-box button.play {
      display: flex; }
      section.video-section .video-box button.play.active {
        display: none; }
    section.video-section .video-box:hover button.play.active ~ button.pause {
      display: flex; }

@media only screen and (max-width: 36em) {
  section.images-grid div.col-lg-4 {
    order: -1; } }

section.images-grid img {
  margin-left: -15px;
  margin-right: -15px;
  width: calc(100% + 30px); }

section.form-section {
  padding: 5rem 0; }
  section.form-section p {
    font-size: 1.8rem;
    color: #545454; }
  section.form-section input, section.form-section textarea, section.form-section select {
    font-size: 1.65rem;
    color: #545454;
    border: 0;
    border-radius: 0;
    background-color: #fff;
    padding: 1.4rem;
    width: 100%; }
  section.form-section button {
    border: 0;
    background-color: #fff;
    font-size: 1.4rem;
    padding: .6rem 1rem;
    color: #A88A5F;
    display: flex;
    align-items: center;
    color: #A88A5F;
    cursor: pointer; }
    section.form-section button.-u-bg-brown {
      color: #fff; }
      section.form-section button.-u-bg-brown::before {
        background-color: #fff; }
    section.form-section button::before {
      content: '';
      height: 1px;
      width: 1.5rem;
      background-color: #A88A5F;
      margin-right: 1rem; }

section.contact-section {
  padding: 8rem 0 3rem; }
  section.contact-section h2 {
    margin-bottom: 5rem; }
  section.contact-section h3 {
    letter-spacing: .3rem;
    font-size: 2.4rem;
    color: #A88A5F; }
  section.contact-section address {
    font-size: 1.6rem;
    color: #545454;
    line-height: 1.8; }
  section.contact-section a {
    font-size: 1.6rem;
    color: #545454;
    line-height: 1.8; }

section.service-section {
  background-color: #fff;
  opacity: .85; }
  section.service-section h1 {
    padding: 1.2rem;
    background-color: #EBE7E6; }
  section.service-section .service-card {
    position: relative;
    width: max-content;
    margin-bottom: 3rem;
    max-width: 100%; }
    section.service-section .service-card img {
      max-width: 38rem;
      object-fit: cover;
      object-position: center center; }
      @media only screen and (max-width: 36em) {
        section.service-section .service-card img {
          max-width: 100%; } }
    section.service-section .service-card h3 {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      text-align: center;
      padding: 1rem 3rem;
      background-color: rgba(168, 138, 95, 0.5);
      transform: translateY(-50%);
      font-size: 2rem;
      color: #fff; }

footer.footer {
  background-color: #EBE7E6;
  padding: 4rem 0 3rem; }
  footer.footer ul.footer-nav-list {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
    border-bottom: 1.5px solid #A88A5F; }
    @media only screen and (max-width: 62em) {
      footer.footer ul.footer-nav-list {
        flex-direction: column;
        align-items: center;
        padding-bottom: 1.8rem; } }
    footer.footer ul.footer-nav-list li.footer-nav-item {
      list-style: none;
      padding: 0 1.5rem; }
      footer.footer ul.footer-nav-list li.footer-nav-item:not(:last-child) {
        border-right: 2px solid #A88A5F; }
        @media only screen and (max-width: 62em) {
          footer.footer ul.footer-nav-list li.footer-nav-item:not(:last-child) {
            border-right: 0px;
            margin-bottom: .8rem; } }
      footer.footer ul.footer-nav-list li.footer-nav-item a.footer-nav-link {
        font-size: 1.8rem;
        text-transform: uppercase;
        letter-spacing: .15rem;
        color: #A88A5F; }
  footer.footer p {
    margin-top: 1rem;
    font-size: 1.6rem;
    color: #A88A5F;
    letter-spacing: .15rem; }

section.login-section {
  background-image: url("./../../asssets/images/rough-to-stone.png");
  background-size: cover;
  padding: 10rem 0; }
  section.login-section .login-form {
    border: 1px solid #A88A5F;
    background-color: #EBE7E6;
    padding: 5rem 3rem 10rem 3rem; }
    @media only screen and (max-width: 32em) {
      section.login-section .login-form {
        margin-right: 0;
        margin-left: 0;
        padding: 5rem 0rem 10rem; } }
    section.login-section .login-form img {
      width: 3rem;
      height: auto; }
    section.login-section .login-form h2 {
      color: #A88A5F;
      margin-bottom: 5rem; }
    section.login-section .login-form label {
      font-size: 1.2rem; }
    section.login-section .login-form a {
      color: #A88A5F;
      font-size: 1.2rem;
      text-decoration: underline; }
    section.login-section .login-form p.text-danger {
      font-size: 1.2rem; }
    section.login-section .login-form p.p3 {
      font-size: 1.4rem;
      text-align: center; }

section.appointments-section {
  padding: 10rem 0; }
  section.appointments-section h1 {
    color: #A88A5F;
    margin-bottom: 8rem;
    text-align: center; }
  section.appointments-section .card {
    margin-bottom: 3rem;
    padding: 3rem;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center; }
    section.appointments-section .card img {
      width: 3rem; }
    section.appointments-section .card img:nth-child(2) {
      width: 15rem;
      height: auto; }
    section.appointments-section .card h2 {
      color: #000; }
    section.appointments-section .card h3 {
      color: #545454; }
    section.appointments-section .card p {
      font-weight: bold;
      color: #A88A5F;
      font-size: 1.4rem; }
    section.appointments-section .card a {
      background-color: #A88A5F;
      color: #fff;
      font-size: 1.6rem; }

section.banner-lg {
  position: relative;
  max-height: 60rem; }
  section.banner-lg h1 {
    position: absolute;
    padding: 3rem;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center; }

.modal button.close {
  font-size: 2.6rem;
  text-align: right;
  margin-right: 1rem;
  margin-top: .5rem; }

.modal img {
  width: 3rem; }

.modal img.notification {
  width: 40%; }

.modal .modal-footer {
  border-top: 0; }
