.home-navbar.navbar.navbar-expand-lg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: $z-index-navbar;
    padding-top: 2rem;

    @media only screen and (max-width: 62em) {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .container-lg{
        position: relative;
        .navbar-brand{
            @media only screen and (max-width: 62em) {
                position: relative;
                top: 0;
                transform: translateX(-50%);
                left: 50%;
            }
            img{
                width: 15rem;
                object-fit: cover;
                height: auto;
            }
        }
        .navbar-toggler{
            border: 0;
            display: flex;
            align-items: center;

            @media only screen and (max-width: 62em) {
                position: absolute;
                top: 50%;
                right: 2rem;
                transform: translateY(-50%);
            }

            &:focus{
                @media only screen and (max-width: 62em) {
                    outline: none;
                }
            }
            span{
                
                @media only screen and (max-width: 62em) {
                    @media only screen and (max-width: 62em)  {
                        margin-left: 0;
                        position: relative;
                        font-size: 0px;
                        width: 3rem;
                        height: 1.5px;
                        background-color: $color-brown;
                        border-radius: 1rem;
    
                        display: flex;
                        flex-direction: column;
                        align-items: center;
    
                        
    
                        &::before,&::after{
                            content: '';
                            width: 3rem;
                            height: 1.5px;
                            background-color: $color-brown;
                            position: absolute;
                            margin: 0;
                        }
    
                        &::before{
                            top: -.8rem;
                        }
    
                        &::after{
                            top: .8rem;
                        }
    
                    }
                }
            }
        }

        .navbar-toggler:not(.collapsed) ~ .navbar-collapse.collapsing{
            right: 0;
            height: 100vh;
        }

        .navbar-collapse{
            flex-grow: 1;
            padding-top: 2rem;
            max-width: 80rem;
            transition: .6s;

            @media only screen and (max-width: 62em) {
                position: fixed;
                top: 0;
                right: -36rem;
                left: unset;
                width: 36rem;
                height: 100vh !important;
                background-color: #fff;
                
            }

            &.collapse{
                @media only screen and (max-width: 62em) {
                    height: 100vh;
                }
                &.show{
                    
                    @media only screen and (max-width: 62em) {
                        height: 100vh;
                        right: 0rem;
                    }
                }
            }

            ul.navbar-nav{
                display: flex;
                justify-content: space-between;
                padding: 1rem 2rem 1rem;
                border-bottom: 1px solid #ffffff;
                width: 100%;

                @media only screen and (max-width: 62em) {
                    flex-direction: column;
                    justify-content: flex-start;
                    padding: 1rem 15px;
                    border-bottom: 0;
                }

                li.nav-item{
                    @media only screen and (max-width: 62em) {
                        border-bottom: 1px solid $color-brown;
                        padding: .8rem 0;
                        margin-right: -15px;
                    }
                    &[data-toggle="collapse"] {

                        padding: 1rem 0;
                        margin-right: -15px;
                        margin-left: -15px;

                        img{
                            width: 3rem;
                            height: 3rem;
                        }

                        span{
                            margin-left: 1rem;
                            color: $color-brown;
                            font-weight: 500;
                        }

                    }
                    a.nav-link{
                        font-size: 1.6rem;
                        text-transform: uppercase;
                        color: #fff;
                        padding: 0;
                        @media only screen and (max-width: 62em) {
                            color: $color-brown;
                        }
                    }
                }
            }
        }
    }
    
}


.navbar:not(.navbar-expand-lg){
    position: relative;
    z-index: $z-index-navbar;
    padding-top: 2rem;
    background-color: $color-light-brown;
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
    @media only screen and (max-width: 62em) {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .container-lg{
        .navbar-brand{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);

            @media only screen and (max-width: 62em) {
                position: relative;
                top: 0;
                transform: translateX(-50%);
            }

            img{
                width: 15rem;
                object-fit: cover;
                height: auto;
            }
        }
        .navbar-toggler{
            border: 0;
            display: flex;
            align-items: center;

            &:focus{
                @media only screen and (max-width: 62em) {
                    outline: none;
                }
            }

            @media only screen and (max-width: 62em) {
                position: absolute;
                top: 50%;
                right: 2rem;
                transform: translateY(-50%);
            }

            img{
                width: 3.5rem;
                height: 3.5rem;
                object-fit: contain;
                object-position: center center;
                @media only screen and (max-width: 62em)  {
                    display: none;
                }
            }
            span{
                font-weight: 500;
                margin-left: .8rem;
                color: $color-brown;

                @media only screen and (max-width: 62em)  {
                    margin-left: 0;
                    position: relative;
                    font-size: 0px;
                    width: 3rem;
                    height: 1.5px;
                    background-color: $color-brown;
                    border-radius: 1rem;

                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    

                    &::before,&::after{
                        content: '';
                        width: 3rem;
                        height: 1.5px;
                        background-color: $color-brown;
                        position: absolute;
                        margin: 0;
                    }

                    &::before{
                        top: -.8rem;
                    }

                    &::after{
                        top: .8rem;
                    }

                }

            }
        }

        .btn.login-button{
            color: #ffffff;
            font-size: 1.6rem;
            

            @media only screen and (max-width: 48em) {
                position: absolute;
                top: 50%;
                left: 15px;
                transform: translateY(-50%);
                padding: 1.2rem;
            }

            svg{
                fill: #ffffff;
                width: 2.2rem;
                height: 2.2rem;
                margin-left: .5rem;
            }
        }

        .navbar-toggler:not(.collapsed) ~ .navbar-collapse.collapsing{
            right: 0;
        }

        .navbar-collapse{
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #F5F3F3;
            display: block;
            width: 100%;
            overflow: hidden;
            transition: .6s !important;

            @media only screen and (max-width: 62em) {
                position: fixed;
                top: 0;
                right: -36rem;
                left: unset;
                width: 36rem;
                height: 100vh;
            }

            &.collapse{
                height: 0;
                @media only screen and (max-width: 62em) {
                    height: 100vh;
                }
                &.show{
                    height: auto;
                    right: 0rem;
                    @media only screen and (max-width: 62em) {
                        height: 100vh;
                    }
                }
            }


            ul.navbar-nav{
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                padding-top: 1rem;
                padding-bottom: 1rem;

                @media only screen and (max-width: 62em) {
                    flex-direction: column;
                    justify-content: flex-start;
                }

                li.nav-item{

                    @media only screen and (max-width: 62em) {
                        border-bottom: 1px solid $color-brown;
                        padding: .8rem 0;
                        margin-right: -15px;
                    }


                    &[data-toggle="collapse"] {

                        padding: 1rem 0;
                        margin-right: -15px;
                        margin-left: -15px;

                        img{
                            width: 3rem;
                            height: 3rem;
                        }

                        span{
                            margin-left: 1rem;
                            color: $color-brown;
                            font-weight: 500;
                        }

                    }

                    a.nav-link{
                        color: $color-brown;
                        text-transform: uppercase;
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
    
}