body.page.home{
    .home-video_section{
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-image: linear-gradient(180deg, rgba(0,0,0,0.5), transparent);
            z-index: 3;
        }
        video{
            position: relative;
            z-index: 10;
            min-height: 100vh;
            object-fit: cover;
        }
    }
}

section.banner{
    min-height: 50rem;
    width: 100%;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1;

    @media only screen and (max-width: 62em) {
        min-height: auto;
    }

    @media only screen and (max-width: 36em) {
        min-height: 40rem;
    }

    img{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: 2;

        @media only screen and (max-width: 62em) {
            position: relative;
            height: 100%;
            min-height: 40rem;
        }
    }

    h1,h2{
        color: #ffffff;
        z-index: 3;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: .2rem;

        display: flex;
        align-items: center;
        justify-content: center;

        text-align: center;

        @media only screen and (max-width: 62em) {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        &::before,&::after{
            content: '';
            height: .25rem;
            width: 8rem;
            background-color: #fff;
            margin: 0 1.5rem;
            @media only screen and (max-width: 62em) {
                width: 4rem;
            }
        }

    }
}

section.heading-box{
    padding: 3rem 0;
    h2{
        text-transform: uppercase;
        letter-spacing: .2rem;
        color: $color-brown;
        font-weight: 400;
    }

    h3{
        font-size: 1.8rem;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 1rem;
        color: $color-brown;
        letter-spacing: .15rem;
        margin-top: 1rem;
        margin-bottom: 1rem;

        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            height: 2px;
            width: 10rem;
            transform: translateX(-50%);
            background-color: $color-brown;
        }
    }
}

section.two-column_image-overflow{
    padding-top: 2rem;
    padding-bottom: 2rem;

    @media only screen and (max-width: 36em) {
        padding-top: 0;
    }

    @media only screen and (max-width: 62em) {
        background-color: #fff;
    }

    .overflow-image{
        width: 100%;
        height: auto;
        object-fit: cover;
        transform: translateX(12rem);
        margin-top: 1.4rem;
        margin-top: auto;
        @media only screen and (max-width: 75em) {
            transform: translateX(0);
        }
    }

    h2{
        @media only screen and (max-width: 62em) {
            margin-top: 2rem;
        }
    }

    h4{
        font-size: 1.8rem;
    }

    .card{
        padding: 4rem;
        border-radius: 0;
        border: 0;
        @media only screen and (max-width: 62em) {
            padding-top: 0;
            padding-bottom: 0;
        }

        @media only screen and (max-width: 36em) {
            padding: 0;
            padding: 15px;
        }

        p{
            font-size: 1.8rem;
            color: $color-gray;
            margin-bottom: 2.4rem;
            line-height: 1.7;

            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}

section.card-text-box{
    background-color: $color-light-brown;
    padding-bottom: 5rem;
    .card.card-text{
        padding: 3rem 5rem 4rem;
        margin-top: -5rem;
        border: 0;
        border-radius: 0;
        position: relative;
        min-height: 100%;

        &.card-text-lg{
            &::after{
                display: none;
            }
            img{
                width: 5rem;
                height: 5rem;
            }
            .btn{
                border: 0;
                background-color: $color-brown;
                font-size: 1.4rem;
                padding: 0.6rem 1rem;
                display: flex;
                align-items: center;
                color: #FFF;
                cursor: pointer;
                &::before{
                    content: '';
                    height: 1.3px;
                    width: 2rem;
                    background-color: #FFF;
                    margin-right: 1rem;
                }
            }
        }

        @media only screen and (min-width: 87.5em) {
            padding: 7rem 10rem 5rem;
        }

        @media only screen and (max-width: 62em) {
            margin-top: 0;
        }

        &::after{
            content: '';
            position: absolute;
            bottom: 3rem;
            left: 50%;
            transform: translateX(-50%);
            width: 15rem;
            height: .25rem;
            background-color: $color-brown;
        }

        img{
            height: 3rem;
            width: 3rem;
            object-fit: contain;
            object-position: center center;
        }
        h2{
            font-size: 2.2rem;
            color: $color-brown;
        }
        p{
            font-size: 1.8rem;
            color: $color-gray;
            line-height: 1.7;
            margin-bottom: 2.4rem;
        }
    }

    .card-image-row{
        height: 100%;
        img{
            // margin: auto;
            // max-width: 35rem;
            // display: block;
        }
    }
}

section.two-column{

    div:not(.position-relative){
        @media only screen and (max-width: 49em) {
            order: -1;
        }
        
    }

    .mx{
        @media only screen and (max-width: 36em){
            margin-left: 15px;
            margin-right: 15px;
        }
    }

    p{
        padding: 3rem 5rem;
        margin-top: 8rem;
        position: relative;
        font-size: 1.6rem;
        line-height: 1.6;
        color: $color-gray;
        margin-bottom: 0;

        @media only screen and (max-width: 62em) {
            margin-top: 4rem;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            padding: 3rem 0;
        }

        @media only screen and (max-width: 36em) {
            width: 100%;
        }

        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 5rem;
            height: 2px;
            width: 5rem;
            background-color: $color-brown;
            @media only screen and (max-width: 62em) {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    img{
        margin-left: -15px;
        margin-right: -15px;
        min-height: 40rem;
        width: calc(100% + 30px);
        object-fit: cover;
        height: auto;
        @media only screen and (max-width: 62em) {
            margin-left: auto;
            margin-right: auto;
            width: 80%;
            min-height: auto;
            
            display: block;
        }

        @media only screen and (max-width: 36em) {
            width: calc(100% + 30px);
            margin-left: -15px;
            margin-right: -15px;

        }
    }

    a{
        margin-left: -15px;
        margin-right: -15px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 100%;

        @media only screen and (max-width: 62em) {
            padding-top: 1.6rem;
            padding-bottom: 1.6rem;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }

        @media only screen and (max-width: 36em) {
            width: calc(100% + 30px);
            margin-left: -15px;
            margin-right: -15px;
        }

        span{
            font-size: 1.8rem;
            color: $color-brown;
            letter-spacing: .15rem;
        }

        &:hover{
            text-decoration: none;
            span{
                text-decoration: none;
            }
        }

    }
}

section.video-section{
    padding: 5rem 0;
    h1,h2,.h2{
        font-weight: 400;
    }

    p{
        font-size: 1.8rem;
        color: $color-gray;
        line-height: 1.6;
        text-align: center;
    }

    .video-box{
        position: relative;

        button.play,
        button.pause{
            position: absolute;
            top: 0%;
            left: 0%;
            height: 100%;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.5);
            border: 0;

            display: none;
            align-items: center;
            justify-content: center;   
            
            cursor: pointer;
            z-index: 2;
            
            img{
                height: 5rem;
                width: 5rem;
                object-fit: contain;
                object-position: center;
            }
        }
        
        button.play{
            display: flex;
            &.active{
                display: none;
            }
        }

        &:hover button.play.active ~ button.pause{
            display: flex;
        }

    }
}

section.images-grid{

    div.col-lg-4{
        @media only screen and (max-width: 36em) {
            order: -1;
        }
    }

    img{
        margin-left: -15px;
        margin-right: -15px;
        width: calc(100% + 30px);
    }
}

section.form-section{
    padding: 5rem 0;
    h1,h2,.h2{
        
    }

    p{
        font-size: 1.8rem;
        color: $color-gray;
    }

    input,textarea,select{
        font-size: 1.65rem;
        color: $color-gray;
        border: 0;
        border-radius: 0;
        background-color: #fff;
        padding: 1.4rem;
        width: 100%;
    }

    button{
        border: 0;
        background-color: #fff;
        font-size: 1.4rem;
        padding: .6rem 1rem;
        color: $color-brown;

        display: flex;
        align-items: center;
        color: $color-brown;
        cursor: pointer;

        &.-u-bg-brown{
            color: #fff;
            &::before{
                background-color: #fff;
            }
        }

        &::before{
            content: '';
            height: 1px;
            width: 1.5rem;
            background-color: $color-brown;
            margin-right: 1rem;
        }
    }
}

section.contact-section{
    padding: 8rem 0 3rem;
    h2{
        margin-bottom: 5rem;
    }

    h3{
        letter-spacing: .3rem;
        font-size: 2.4rem;
        color: $color-brown;

    }

    address{
        font-size: 1.6rem;
        color: $color-gray;
        line-height: 1.8;
    }

    a{
        font-size: 1.6rem;
        color: $color-gray;
        line-height: 1.8;
    }

    img{

    }

}

section.service-section{
    background-color: #fff;
    opacity: .75;
    position: relative;
    z-index: 10;
    h1{
        padding: 1.2rem;
        background-color: $color-light-brown;
    }

    .service-card{
        position: relative;
        width: max-content;
        margin-bottom: 3rem;
        max-width: 100%;
        img{
            max-width: 38rem;
            object-fit: cover;
            object-position: center center;
            @media only screen and (max-width: 36em) {
                max-width: 100%;
            }
        }
        h3{
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            text-align: center;
            padding: 1rem 3rem;
            background-color: rgba($color: $color-brown, $alpha: .5);
            transform: translateY(-50%);
            font-size: 2rem;
            color: #fff;
        }
    }
}


footer.footer{
    background-color: $color-light-brown;
    padding: 4rem 0 3rem;

    .footer-top-navs{
        
        ul.footer-top-list{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 1.5rem;
            li.footer-top-item{
                display: flex;
                p{
                    white-space: nowrap;

                }
                img{
                    width: 2rem;
                    height: 2rem;
                }
                a{
                    margin-left: 1rem;
                    color: $color-brown;
                    font-size: 1.4rem;
                    white-space: nowrap;
                }
            }   
        }
    }


    ul.footer-nav-list{
        display: flex;
        justify-content: center;
        padding-top: 2.5rem;
        border-top: 1px solid $color-brown;
        margin-bottom: 2.5rem;

        @media only screen and (max-width: 62em) {
            flex-direction: column;
            align-items: center;
            padding-bottom: 1.8rem;
        }
        li.footer-nav-item{
            list-style: none;
            padding: 0 1.5rem;
            line-height: 1;
            &:not(:last-child) {
                border-right: 2px solid $color-brown;
                @media only screen and (max-width: 62em) {
                    border-right: 0px;
                    margin-bottom: .8rem;
                }
            }
            a.footer-nav-link{
                font-size: 1.8rem;
                text-transform: uppercase;
                letter-spacing: .15rem;
                color: $color-brown;
                
            }
        }
    }

    p{
        margin-top: 1rem;
        font-size: 1.6rem;
        color: $color-brown;
        letter-spacing: .15rem;
    }
}


section.login-section{
    

    background-image: url("./../../asssets/images/rough-to-stone.png");
    background-size: cover;

    padding: 10rem 0;
    
    .login-form{
        border: 1px solid $color-brown;
        background-color: $color-light-brown;
        padding: 5rem 3rem 10rem 3rem;

        @media only screen and (max-width: 32em) {
            margin-right: 0;
            margin-left: 0;
            padding: 5rem 0rem 10rem;
        }

        img{
            width: 3rem;
            height: auto;
        }

        h2{
            color: $color-brown;
            margin-bottom: 5rem;
        }

        label{
            font-size: 1.2rem;
        }

        a{
            color: $color-brown;
            font-size: 1.2rem;
            text-decoration: underline;
        }

        p.text-danger{
            font-size: 1.2rem;
        }

        p.p3{
            font-size: 1.4rem;
            text-align: center;
        }
    }
}


section.appointments-section{
    padding: 10rem 0;
    h1{
        color: $color-brown;
        margin-bottom: 8rem;
        text-align: center;
    }

    .card{
        margin-bottom: 3rem;
        padding: 3rem;

        max-width: 40rem;

        margin-left: auto;
        margin-right: auto;


        display: flex;
        flex-direction: column;
        align-items: center;

        img{
            width: 3rem;
        }

        img:nth-child(2){
            width: 15rem;
            height: auto;
        }

        h2{
            color: #000;
        }

        h3{
            color: $color-gray;
        }

        p{
            font-weight: bold;
            color: $color-brown;
            font-size: 1.4rem;
        }

        a{
            background-color: $color-brown;
            color: #fff;
            font-size: 1.6rem;
        }
    }
}



section.banner-lg{
    position: relative;
    max-height: 60rem;
    h1{
        position: absolute;
        padding: 3rem;
        top: 10rem;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        text-align: center;
    }
}






.modal{
    button.close{
        font-size: 2.6rem;
        text-align: right;
        margin-right: 1rem;
        margin-top: .5rem;
    }

    img{
        width: 3rem;
    }

    img.notification{
        width: 40%;
    }

    .modal-footer{
        border-top: 0;
    }
}


.whatsapp-bubble{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 100000;
    height: 5rem;
    width: 5rem;
    a{
        position: relative;
        height: 100%;
        width: 100%;
        img{
            width: 100%;
            height: 100%;
        }
    }
}